<div id="map" style="position:relative; width: 100%; min-height: 100%; background-color: grey; overflow: hidden">
  <script src="https://www.google.com/maps/api/js?key=AIzaSyClU7PUBbMI4-klxKQPsCV3nL5HcqiyIX0&libraries=visualization&callback=initMap" async defer>
  </script>
</div>