<table id="cart" class="w3-table w3-border w3-bordered w3-pale-blue w3-hoverable">
  <%= render(cart.line_items) %>
  <tr class="w3-blue">
    <td>Total Price:</td>
    <td>
      <% total = 0 %>
      <% cart.line_items.each do |item| %>
        <% total += item.uniq_volcano.Price %>
      <% end %>
      <%= total / 1000 %>k$
    </td>
  </tr>
</table>

<% puts("AYAYA") %>