// Place all the styles related to the uniq_volcanos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: gray;
    overflow-x: hidden;
    transform: translate(300%, 0%);
}
.volcanowrap {
    margin-right: 25%;
}